<a href="https://medium.com/the-guild/react-graphql-typescript-postgresql-whatsapp-de1840c27d21"><p align="center"><img src="https://cdn-images-1.medium.com/max/1040/1*fFUJd7moWtjvMZ5dE-A80g.gif" alt="whatsapp" width="240"></p></a>

This project was built with [Tortilla](https://tortilla.academy).

### Prerequisites

Install PostgreSQL following the [official instructions](https://www.postgresql.org/docs/9.3/tutorial-install.html).

### Run instructions

Run yarn

    $ yarn install

Run codegen to generate TypeScript types

    $ yarn generate

Run start

    $ yarn start

Note that the server is using a common Cloudinary storage for uploading images. To change Cloudinary URL, please edit the `.env` file.

### License

MIT
