version: "3"
services:
  postgres:
    image: postgres
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=test
      - POSTGRES_PASSWORD=test
      - POSTGRES_DB=whatsapp
    volumes:
      - postgres:/var/lib/postgresql/data
volumes:
  postgres:
